{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <main>
        <div class="overlay"></div>
        <div class="container" style="margin-top: 210px;">
        <h1 class="text-primary">About Palalat Fashion Style Affordables</h1>
        <section class="mt-4">
            <h2>What we do</h2>
            <p>
               We are an E-commerce website selling affordable products from wide range of OEM brands with a very good quality that suits everyones budget.
               We are also selling products through facebook by sending us a direct message and have been in this business for many years mainly focusing customers in the Philippines.
            </p>  
            <p>
                We also process orders internationally through a direct message to our Facebook business page.
            </p>
        </section>
        <section class="mt-4">
            <h2>Delivery information</h2>
            <p class="mb-4">
                Customers pay 10 %  delivery charge of every product they will buy. Once order is processed, we then pack and ship your items into your delivery address through
                LBC and JRS couriers.
            </p>
                
        </section>
       </div>
    </main>
{% endblock %}