{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <div class="overlay"></div>
    <div class="container" style="margin-top: 210px;">
        <h1 class="text-primary">Contact Us</h1>
        <p>
            Please contact us for any inquires for more product information. You can also cantact us through our
            <span><a href="https://www.facebook.com/profile.php?id=100063675528949" target="_blank"
                    rel="noopener">Facebook Business Page</a></span>
        </p>
        <div class="row mt-4">
            <div class="col">
                <div>
                    <p class="font-weight-bold">Address:</p>
                    <p>Escolta St., Binondo, Manila, Philippines</p>
                </div>
                <div>
                    <p class="font-weight-bold">Contact:</p>
                    <p>09106798471</p>
                </div>
            </div>
            <div>
                <p></p>
            </div>
        </div>
</main>
{% endblock %}