{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row h-75">
        <div class="col-md-3 mx-4 " style="margin-top: 140px;">
            <h1 class=" text-uppercase text-secondary">
                Affordable products that suits your budget are here
            </h1>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now &raquo</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
