{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 ">
    <div class="row h-100">
        <div class="col-4" style="margin-top: 300px;">
            <h2 class=" text-uppercase text-primary font-weight-bold text_heading">
                Affordable products that suits your budget are here
            </h2>
            <h4 class="mt-5">
                <a href="" class="shop-now-button btn btn-lg  text-uppercase py-2 bg-danger text-white rounded ">Shop Now &raquo</a>
            </h4>
        </div>   
    </div>
</div>
{% endblock %}
