@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    height: 100%;
}

body {
    background: url('https://res.cloudinary.com/da80v7xri/image/upload/v1686588295/homepage_background_lp53w1.webp') no-repeat center;
    background-size: cover;
    background-position: 0 50px;
    /*display:flex;*/
    justify-content: center;
    height:100vh;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.footer-bg {
    background-color: #3A83FE;
    position: sticky;
    top: 100%;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
         right: 0;
        left: 0;
        z-index: 1030;
      }
    .input_margin{
        margin-left: 100px;
    } 
  
  }

@media (max-width:414px) {
    .text_heading{
        margin-top: -200px;
    }
    .shop-now-button{
        width:200px;
    }
    #mobile-sign-up,
    #mobile-sign-in,
    #mobile-logout,
    #mobile-reset-password {
        margin-top: -90px;
    }
    .footer-bg{
        margin-top: -10px;
    }
    .nav-link {
        padding: 0.15rem;
    }

}

/* Product Review*/
@media (max-width:393px) {
    #review {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 360px) and (max-width:410px) {
    #mobile-sign-up,
    #mobile-sign-in,
    #mobile-logout,
    #mobile-reset-password{
        margin-top: -90px;
    }
}
