html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.webp') no-repeat center;
    background-size: cover;
    background-position: 0 50px;
    /*display:flex;*/
    justify-content: center;
    height:100vh;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
         right: 0;
        left: 0;
        z-index: 1030;
      }
    .input_margin{
        margin-left: 100px;
    } 
  
  }

@media (max-width:414px) {
    .text_heading{
        margin-top: -100px;
        width:240px;
    }
    .shop-now-button{
        width:200px;
    }
    /* top margin for small screen*/
    #mobile-sign-up,
    #mobile-sign-in,
    #mobile-logout {
        margin-top: -80px;
    }
}

@media (min-width:360px) {
    #mobile-sign-up,
    #mobile-sign-in {
        margin-top: -20px;
    }
}