<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item text-primary">By Price</a>
                <a href="" class="dropdown-item text-primary">By Rating</a>
                <a href="" class="dropdown-item text-primary">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item text-primary">All Products</a>
            </div>
        </li>

        <li class=" nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="all_clothings_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all_clothings_links">
                <a href="" class="dropdown-item text-primary">Jeans</a>
                <a href="" class="dropdown-item text-primary">Kids Wear</a>
                <a href="" class="dropdown-item text-primary">Mens Wear</a>
                <a href="" class="dropdown-item text-primary">Ladies Wear</a>
                <a href="" class="dropdown-item text-primary">All Clothing</a>
            </div>
        </li>

        <li class=" nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="ladies_dress_link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ladies Wear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ladies_dress_link">
                <div class="ml-4 mt-2">
                    <a href="#" class="text-uppercase font-weight-bold py-2 text-primary">All Ladies Dress</a>
                </div>
                <a href="#" >
                    <img src="/media/LDp06.jpg">
                </a>
                <div class="ml-4 mt-2">
                    <a href="" class="btn btn-sm  text-uppercase py-2 bg-danger text-white rounded  ">Shop Now &raquo</a>
                </div>
            </div>
        </li>

        <li class=" nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="ladies_bags_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ladies Bags
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="ladies_bags_links">
                <div class="ml-4 mt-2">
                    <a href="#" class="text-uppercase font-weight-bold py-2 text-primary">All Ladies Bags</a>
                </div>
                <a href="#" >
                    <img src="/media/LDp13.jpg">
                </a>
                <div class="ml-4 mt-2">
                    <a href="" class="btn btn-sm  text-uppercase py-2 bg-danger text-white rounded  ">Shop Now &raquo</a>
                </div>
            </div>
        </li>

        <li class=" nav-item dropdown">
            <a href="#" class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="shoes_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shoes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shoes_links">
                <div class="ml-4 mt-2">
                    <a href="#" class="text-uppercase font-weight-bold py-2 text-primary">All Shoes</a>
                </div>
                <a href="#" >
                    <img src="/media/LDp15.jpg">
                </a>
                <div class="ml-4 mt-2">
                    <a href="" class="btn btn-sm  text-uppercase py-2 bg-danger text-white rounded  ">Shop Now &raquo</a>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown text-dark">
            <a class="logo-font font-weight-bold nav-link text-dark mr-5" href="#" id="new_arrivals_links" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new_arrivals_links">
                <div class="ml-4 mt-2">
                    <a href="#" class="text-uppercase font-weight-bold py-2 text-primary">All New Arrivals</a>
                </div>
                <a href="#" >
                    <img src="/media/LDp12.jpg">
                </a>
                <div class="ml-4 mt-2">
                    <a href="#" class="btn btn-sm  text-uppercase py-2 bg-danger text-white rounded  ">Shop Now &raquo</a>
                </div>
            </div>
        </li>
    </ul>
</div>