{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% load crispy_forms_tags  %}

<div class= "container-fluid" id="mobile-sign-up">
  <div class="col-xs  col-sm-6 col-md-6 col-lg-4 col-xl-3" style="margin-top: 200px;">
      <h1 class="text-primary text-center">{% trans "Sign Up" %}</h1>

      <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <form class="signup w-100 mx-auto text-dark" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy  }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class=" border border-light rounded p-2 bg-danger text-white">{% trans "Sign Up" %} &raquo;</button>
      </form>
  </div>
</div>  

{% endblock %}
